shawn_insight.ppk
shawn-insight.pem
simulated_post_photos/api_keys.txt
old/
public_html/logs/*
*.pyc
*.log
spark_hbase/target
spark_hbase/project/target
kafka_consumers/_logs/*
*_log/
spark_hdfs/*.ipynb
spark_hdfs/run_ipython.sh
