a.photo {
    position: relative;
    vertical-align: middle;
    /*width: 1000px;*/
    text-decoration: none !important;
    text-align: center;
    opacity: 0.6;
}
a.photo img{
    opacity: 0.9;
}
/*a.photo img:hover{
    opacity: 1;
}*/
/*a.photo:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px 25px;
    color: white;
    font-size:100;
    font-family: Impact, Charcoal, sans-serif;
    opacity: 1;
}
a.photo:hover:after, a.photo:focus:after {
    opacity: 0.5;
}*/
a.photo:hover{
    opacity: 1;
}